@use "./variables" as *;

@mixin reset-a {
  text-decoration: none;
  color: black;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
}

@mixin gridCenter {
  display: grid;
  align-items: center;
  justify-items: center;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin miniLaptop {
  @media (max-width: $miniLaptop) {
    @content;
  }
}
