.articlePage {
  h2 {
    text-align: center;
    margin: 2rem;
  }
  h4 {
    text-align: right;
    margin-right: 4rem;
  }
  img {
    display: block;
    margin: auto;
    width: 35rem;
  }
  .content {
    padding: 2rem;
  }
  p {
    padding: 0.75rem;
  }
}
