@use "../styles/mixins" as *;

h1 {
  text-align: center;
}

.articleContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 2rem;
}

.article {
  background-color: rgb(255, 82, 82);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-shadow: 0 0 black;

  a {
    @include reset-a;
  }

  .title {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .articleContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .articleContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
