@import "../styles/variables";

.newPost {
  h2 {
    padding-left: 3.5rem;
  }
  label {
    margin-left: 5rem;
    margin-right: 0.5rem;
  }
  .titleInput {
    all: unset;
    padding: 0.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    width: 40rem;
    font-size: xx-large;
    font-weight: 600;
    border-bottom: 0.15rem double green;
  }
  .imageInput {
    all: unset;
    padding: 0.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    width: 20rem;
    font-size: large;
    border-bottom: 0.15rem dashed green;
  }
  textarea {
    all: unset;
    padding: 1rem;
    display: block;
    width: -webkit-fill-available;
    height: 23rem;
    margin: 1rem 7rem;
    font-size: large;
    background-color: rgba(255, 0, 0, 0.26);
    border-radius: 0.5rem;
    &.dark {
      background-color: #306069;
    }
  }
  button {
    display: block;
    margin: 1.5rem auto;
  }
}
