.profilePage {
  h2 {
    padding-left: 3.5rem;
  }
  .profileContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: start;
  }
  .articleContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .profileDeets {
    background-color: rgba(255, 190, 110, 0.212);
    height: 100%;
    border-radius: 2rem;
    .userImage {
      display: block;
      margin: auto;
      margin-top: 4rem;
      width: 15rem;
    }
    .userName {
      padding: 0;
      text-align: center;
    }
    p {
      display: block;
      text-align: center;
    }
    a {
      text-decoration: none;
    }
    button {
      margin: 1rem auto;
      display: block;
    }
  }
}

@media (max-width: 1200px) {
  .profilePage {
    .articleContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 900px) {
  .profilePage {
    .articleContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
