@use "../styles" as *;

.articleContainer {
  a {
    @include reset-a;
  }
  img {
    border-radius: 0.5rem;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    button {
      margin: 0.5rem;
      cursor: crosshair;
      img {
        width: 1.75rem;
        height: auto;
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  .confirmButton {
    background-color: $errClr;
  }
  .cancelButton {
    background-color: $successClr;
  }
}
