.articleContainer {
  a {
    text-decoration: none;
    color: black;
  }
  img {
    border-radius: 0.5rem;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    button {
      margin: 0.5rem;
      cursor: crosshair;
      img {
        width: 1.75rem;
        height: auto;
      }
    }
  }
}
