@use "../styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

nav {
  &.dark {
    .logo {
      color: $primaryColor;
    }
    .pageLink {
      background-color: $primaryColor;
    }
  }
  &.light {
    .logo {
      color: $darkPrimary;
    }
    .pageLink {
      background-color: $darkPrimary;
      color: beige;
    }
  }
  .logo {
    margin-right: auto;
    font-family: "Rampart One", cursive;
    font-size: 3rem;
  }

  img {
    margin: auto;
    width: 5rem;
    cursor: pointer;
  }

  ul {
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 1.5rem;
    align-items: center;
  }
  a {
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: black;
    font-weight: 600;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: $darkPrimary;
      }

      &:focus + .slider {
        box-shadow: 0 0 1px $darkPrimary;
      }

      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }
    .slider.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
}
