@use "./styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto Slab", serif;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  overflow: auto;
}

.container p {
  margin: 0;
}

.dark {
  background-color: rgb(14, 14, 14);
  color: antiquewhite;
}

.light {
  background-color: beige;
}

button {
  background: $darkPrimary;
  margin-top: 1rem;
  color: antiquewhite;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font: inherit;
  font-weight: 600;
  border: none;
  cursor: pointer;
  &.dark {
    background: $primaryColor;
    color: black;
  }
}

.loadingMsg {
  font-size: 1.5rem;
  margin: 3rem;
}

.errorMsg {
  color: $errClr;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 3rem;
}
